<div class="container">
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">{{ title }}</p>
    </div>
    <div class="card-content">
      <div class="field">
        <label class="label">Note Title</label>
        <div class="control">
          <input
            class="input is-primary"
            type="text"
            placeholder="Note Title"
            required
            #noteTitle
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Note Body</label>
        <div class="control">
          <textarea
            class="textarea has-fixed-size is-primary"
            placeholder="Textarea "
            rows="10"
            required
            #noteBody
          ></textarea>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button class="button is-link" type="submit" (click)="submitButtonClick(noteTitle.value, noteBody.value)">
            Submit
          </button>
        </div>
        <div class="control">
          <button class="button is-link is-light" (click)="cancelButtonClick()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
