<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Search... " />
          <span class="icon is-medium is-left">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div>

      <!-- ALL NOTE ITEMS GO HERE -->
      <div class="notes-list">
        <div *ngFor="let note of notes" class="card has-background-white">
          <header class="">
            <p class="card-header-title">{{ note.noteTitle }}</p>
          </header>
          <div class="card-content">
            <p>
              {{ note.noteBody }}
            </p>
          </div>
        </div>
      </div>

      <div class="add-list">
        <button [routerLink]="['new-note']" class="button is-primary">
          Create List
        </button>
      </div>
    </div>
  </div>
</div>
